<header class="navbar" style="position: relative; width: 100%; background-color: coral; height: 50px;">
    <div>
        <img src="./assets/logo.png" style="left: 0; top: 0;" />
        <div style="position:relative; top: -40px; padding-left: 75px;">
            <button mat-button style="margin-right: 10px;" (click)="updateCore('Home')">Accueil</button>
            <button mat-button style="margin-right: 10px;" (click)="updateCore('Trip')">Sortie</button>
            <button mat-button style="margin-right: 10px;" (click)="updateCore('Calendar')">Calendrier</button>
            <button mat-button style="margin-right: 10px;" (click)="updateCore('Activity')">Activite</button>
            <button mat-button [matMenuTriggerFor]="menu" style="margin-right: 10px;">Admin</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="updateCore('Home')">Adherents</button>
                <button mat-menu-item (click)="updateCore('Home')">Sorties</button>
                <button mat-menu-item (click)="updateCore('Home')">Activites</button>
                <button mat-menu-item (click)="updateCore('Home')">Emails</button>
            </mat-menu>
        </div>
    </div>
    <div style="text-align: end;">
        <img (click)="updateCore('Login')" src="./assets/logo.png" style="position: relative; right: 0; top: -75px;" />
    </div>
</header>