<header class="navbar" style="position: relative; width: 100%; background-color: coral; height: 50px;">
    <div class="header bg-white p-0">
        <div class="header-logo mr-0">
            <img src="./assets/logo.png" alt="Logo" class="logo-img" />&nbsp;&nbsp;
            <span class="application-name">ASVEL</span>
        </div>
        <div class="header-content">
            <div style="position:relative; padding-left: 15px;">
                <button class="btn btn-lg btn-color" style="margin-right: 10px;"
                    (click)="updateCore('Home')">Accueil</button>
                <button class="btn btn-lg btn-color" style="margin-right: 10px;"
                    (click)="updateCore('Trip')">Sortie</button>
                <button class="btn btn-lg btn-color" style="margin-right: 10px;"
                    (click)="updateCore('Calendar')">Calendrier</button>
                <button class="btn btn-lg btn-color" style="margin-right: 10px;"
                    (click)="updateCore('Activity')">Activite</button>
                <button class="btn btn-lg btn-color" [matMenuTriggerFor]="menu"
                    style="margin-right: 10px;">Admin</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="updateCore('Home')">Adherents</button>
                    <button mat-menu-item (click)="updateCore('Home')">Sorties</button>
                    <button mat-menu-item (click)="updateCore('Home')">Activites</button>
                    <button mat-menu-item (click)="updateCore('Home')">Emails</button>
                </mat-menu>
            </div>
            <div class="content-user">
                <p class="application-name">
                    ASVEL
                </p>
                <span class="v-separator"></span>
                <p class="user-info">
                    <span class="user-name">
                        Arthur Antonio
                    </span>
                    <br />
                    <span class="user-role">
                        France
                    </span>
                </p>
                <span class="v-separator"></span>
                <a style="padding-right: 15px;">
                    <button class="btn btn-lg btn-color" (click)="open(content)">Se connecter</button> </a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Se connecter</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- find how to use keyUpEvent to store in the TS file -->
            <form #form="ngForm" (submit)="onSubmit(form)">
                <span>Adresse mail :</span>&nbsp;&nbsp;&nbsp;
                <input type="email" name="email" ngModel required /><br><br>
                <span>Mot de passe :</span>&nbsp;&nbsp;
                <input type="password" name="password" ngModel required /><br><br>
                <button class="btn btn-lg btn-color">Connexion</button>
            </form>
        </div>
        
    </ng-template>
</header>