<div class="container">
    <div class="row">
        <div class="column">
            <p>okokokok</p>
        </div>
        <div class="column">
            Activités :
            <table border="1">
                <tbody style="text-align: center;">
                    <tr>
                        <td>Alpinisme</td>
                        <td>Ski alpin</td>
                    </tr>
                    <tr>
                        <td>Escalade</td>
                        <td>Ski de fond</td>
                    </tr>
                    <tr>
                        <td>Randonnée</td>
                        <td>Ski de randonnée</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>